/******************** GENERAL STYLES ********************/
hr {
	margin: 8px 0;
	border: 0;
	border-top: 1px solid silver;
	border-bottom: 1px solid white;
	width: 97.5%;
	margin-left: 1.25%;
	clear: both;
}

.middot:before {
	content: "\387"
}
.clear {
	clear: both;
}
.debug {
	position: fixed;
	top: 0;
	right: 0;
	padding: 4px;
	z-index: 10000;
	background: #fff;
	color: #000;
}

.mediaDebug:before {content: 'none'}
@media (max-width: 480px) { .mediaDebug:before {content: 'phone (0 - 480)'} }
@media (min-width: 481px) and (max-width: 767px) { .mediaDebug:before {content: 'tablet (481 - 767)'} }
@media (min-width: 768px) and (max-width: 979px) { .mediaDebug:before {content: 'small desktop (768 - 979)'} }
@media (min-width: 980px) { .mediaDebug:before {content: 'desktop (980+)'} }

/******************** LAYOUT ********************/
.btn {
	margin-bottom: 4px;
	padding: 6px 10px;
}

.box {
	padding: 8px 12px;
}

.centered {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
}

#login {
	margin: 8px;
}

#content {
	margin-top: 68px;
	min-width: 270px;
}

.brand,
.navbar .brand {
	padding-bottom: 6px;
	padding-top: 7px;
}

.dropdown .caret {
	vertical-align: middle;
	margin-top: 0;
}

#overlay {
	z-index: 2000;
	width: 100%;
	height: 100%;

	padding-top: 32px;

	position: fixed;
	top: 0;
	left: 0;

	display: none;
}

#modal {
	min-height: 100px;
}

footer {
	width: auto;
	height: 120px;
	padding: 0;
	padding-top: 10px;
	
	text-align: center;
}

footer.container-fluid {
	margin: 20px 0 0 0;
}

/* phone */
@media (max-width: 480px) {
	#content {
		min-height: 320px;
	}
	.container-fluid {
		margin-left: 6px;
		margin-right: 6px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: static;
		margin-left: 0;
		margin-right: 0;
	}
}

/* tablet */
@media (min-width: 481px) and (max-width: 767px) {
	#content {
		min-height: 480px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: fixed;
		margin-left: 0;
		margin-right: 0;
	}
	.container-fluid {
		margin-left: 32px;
		margin-right: 32px;
	}
}

/* desktop */
@media (min-width: 768px) {
	#content {
		min-height: 768px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: fixed;
	}
	.container-fluid {
		margin-left: 64px;
		margin-right: 64px;
	}
	.navbar .brand {
		padding-right: 20px;
		padding-left: 20px;
		margin: 0;
	}
}

@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar.inner {
		padding: 0;
	}
	.navbar .brand {
		margin: 0;
	}
}

/******************** STYLE ********************/
body {
	color: #283333;
	background: #E6EDED;

	font-size: 14px;
	line-height: 18px;

	font-family: "Helvetica Neue", Arial, sans-serif;
}

header .navbar-inner {
	background: #F4F9F9;

	-webkit-box-shadow: 0 1px 3px rgba(10, 86, 92, .25), inset 0 -1px 0 rgba(10, 86, 92, .1);
	box-shadow: 0 1px 3px rgba(10, 86, 92, .25), inset 0 -1px 0 rgba(10, 86, 92, .1);

	border-bottom: 8px solid #99263A;
}

.btn {
	border-radius: 3px;
}

button {
	margin-left: 0;
	margin-right: 12px;
}

.navbar .btn {
	margin: 4px;
}

.brand,
.navbar .brand {
	color: #7ACEC6;
	text-shadow: 0 2px #1C9992;
	font-size: 30px;
}

.navbar .nav > li > a,
.navbar .nav > li:hover > a {
	color: #283333;
	padding: 12px;
	line-height: 26px;
}

.navbar .nav > li:hover > a {
	background: #dadada;
}

.navbar .thumbnail {
	display: inline-block;
	margin-right: 6px;
	width: 2em;
	height: 2em;
	position: relative;
	bottom: 0.2em;
	float: left;
	padding: 1px;
}

.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open .caret {
	border-top-color: black;
	border-bottom-color: black;
}

.control-group.error > label, .control-group.error .help-inline {
	color: #B94A48;
}

.dropdown-menu input,
.dropdown-menu .btn,
.dropdown-menu label {
	margin-left: 8px;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #0E1414;
	text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #0E1414;
	text-decoration: none;
}

a, a:hover {
	color: #E62938;
}

input {
	border: 1px solid #dbdbdb !important;
}

.box {
	background: #F4F9F9;
	border: 1px solid #D8D8D8;
	-webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.well {
	color: #CEF2F0;
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6,
.well h1 a, .well h2 a, .well h3 a, .well h4 a, .well h5 a, .well h6 a {
	color: #9AF4EF;
}

#content div {
	border-radius: 2px;
}

.twitter-follow-button {
	vertical-align: bottom;
}

footer {
	font-size: 18px;
	background: #721D2B;
	
	border-top: 2px solid #541520;
	
	color: white;
	
	text-shadow: 0 -1px 0 black;
	
	box-shadow: inset 0 4px 8px -4px rgba(0,0,0,0.65);
	-webkit-box-shadow: inset 0 4px 8px -4px rgba(0,0,0,0.65);
	-moz-box-shadow: inset 0 4px 8px -4px rgba(0,0,0,0.65);
}

#overlay {
	background: rgba(255,255,255,0.8);
}